<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baza – Добавить участника</title>
</head>
<body>
<h1>Добавить участника к мероприятию</h1>

<form th:action="@{/events/{id}/assign-participant(id=${event.id})}" method="post">
    <label>Выберите участника:
        <select name="participantId">
            <option th:each="p : ${participants}"
                    th:value="${p.id}"
                    th:text="${p.name + ' ' + p.surname}">
            </option>
        </select>

    </label>
    <button type="submit">Добавить</button>
</form>
</body>
</html>
