<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Baza – Участники мероприятия</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/event-participants_style.css}" />
</head>
<body>

<div class="participants-container">

    <h1 th:text="'Участники мероприятия: ' + ${event.name}">Участники мероприятия</h1>

    <ul>
        <li th:each="p : ${participants}"
            th:text="${p.name + ' ' + p.surname + ' ' + p.callSign}">
            Имя Фамилия Позывной
        </li>
    </ul>

    <a th:href="@{'/events/' + ${event.id}}" class="btn-back">← Назад к мероприятию</a>

</div>

</body>
</html>
