<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Baza – Просмотр участника</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/styles/participant-card_style.css}" />
</head>

<body>

<div class="info-container">

  <h2>Информация об участнике</h2>

  <!-- Column 1 -->
  <div class="column-characteristics">
    <div>
      <span class="label">Характеристика</span>
      <div class="characteristics-box" th:utext="${#strings.replace(participant.characteristics, '\n', '<br/>')}"></div>
    </div>
    <a href="#" class="btn-back" th:href="@{/ui/participants}">К списку</a>
  </div>

  <!-- Column 2 -->
  <div class="info-column">
    <div class="info-row">
      <span class="label">Имя Фамилия</span>
      <div class="value" id="name" th:text="${participant.getName} + ' ' + ${participant.getSurname}"></div>
    </div>

    <div class="info-row">
      <span class="label">Позывной</span>
      <div class="value" id="callsign" th:text="${participant.getCallSign}"></div>
    </div>
    <div class="info-row">
      <span class="label">Возраст</span>
      <div class="value" id="age" th:text="${participant.getAge}"></div>
    </div>
    <div class="info-row">
      <span class="label">Уровень активности</span>
      <div class="value" id="activity-level" th:text="${participant.getActivityLevel}"></div>
    </div>
    <div class="info-row">
      <span class="label">Количество мероприятий</span>
      <div class="value" id="events-attended" th:text="${participant.getNumberOfEvents}"></div>
    </div>
    <div class="info-row">
      <span class="label">Номер телефона</span>
      <div class="value" id="tel-number" th:text="${participant.telephoneNumber}"></div>
    </div>
  </div>

  <!-- Column 3 -->
  <div class="info-column">
    <div class="avatar-wrapper">
      <img th:src="@{'/' + ${participant.avatarPath}}" alt="Аватар" class="avatar-img" />
    </div>
    <div class="buttons">
      <form th:action="@{'/ui/participants/' + ${participant.id} + '/edit'}" method="get">
        <button class="btn" id="edit-btn">Редактировать</button>
      </form>
      <form th:action="@{/ui/participants/{id}/assign-event-form(id=${participant.id})}">
        <button class="btn" id="register-event-btn">Записать на мероприятие</button>
      </form>
      <form th:action="@{/ui/participants/{id}/events(id=${participant.id})}">
        <button class="btn" id="view-events-btn">Посмотреть активности</button>
      </form>
      <form th:action="@{'/ui/participants/' + ${participant.id} + '/delete'}" method="post">
        <button class="btn" id="delete-btn">Удалить</button>
      </form>
    </div>
  </div>

</div>
<script th:src="@{/js/participant-card_script.js}"></script>

</body>
</html>