<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Baza – Список участников</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/participants_style.css}" />

</head>
<body>

<!-- Сайдбар -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="main">
    <h2>Список участников</h2>
   <a  th:href="@{/ui/participants/new}" class="btn">Добавить участника</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Позывной</th>
            <th>Возраст</th>
            <th>Активность</th>
            <th>Мероприятия</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${participants}" th:attr="data-href=@{'/ui/participants/' + ${p.getId}}">
                <td th:text="${p.getId}"></td>
                <td th:text="${p.getName} + ' ' + ${p.getSurname}"></td>
                <td th:text="${p.getCallSign}"></td>
                <td th:text="${p.getAge}"></td>
                <td th:text="${p.getActivityLevel()}"></td>
                <td th:text="${p.getEvents.size()}"></td>
            </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/participants_script.js}"></script>

</body>
</html>
